<html>
<head>
    <title>Realtime</title>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/jquery-2.1.1.min.js"></script>
    <script src="/underscore-1.7.0.min.js"></script>
    <script src="/backbone-1.1.2.min.js"></script>

    <script type="text/template" id="counter-row-template">
        <span class="counter"><%= activeUsers %></span>
        <img src="http://www.google.com/s2/favicons?domain=<%= domain %>" class="favicon" />
        <span class="name"><%= name %></span>
    </script>

    <script>
        var Profile = Backbone.Model.extend({
            initialize: function() {
                this.set("domain", this.get("websiteUrl").split("//")[1]);
            },

            activeUsers: function() {
                return parseInt(this.get("activeUsers"))
            }
        });

        var ProfileCollection = Backbone.Collection.extend({
            model: Profile,

            comparator: function(profile){
                return 0 - profile.activeUsers();
            }
        });

        var CounterView = Backbone.View.extend({

            tagName: "li",

            className: "counter-row",

            initialize: function() {
                this.listenTo(this.model, "change", this.render);
                this.render();
            },

            render: function() {
                var templateHtml = jQuery("#counter-row-template").html();
                var attributes = this.model.attributes;
                var template = _.template(templateHtml);
                this.$el.html(template(attributes));

                return this;
            }
        });

        var CounterCollectionView = Backbone.View.extend({
            tagName: 'ul',

            initialize: function(){
                this.render();
            },

            render: function(){
                var $this = this;

                this.$el.html("");

                this.collection.each(function(profile) {

                    if (profile.activeUsers() < 1) {
                        return;
                    }

                    var counterView = new CounterView({ model: profile });
                    $this.$el.append(counterView.el);
                });

                return this;
            }
        });
    </script>

    <script>
      var socket = io();

      var counterCollectionView = new CounterCollectionView({
          collection: new ProfileCollection(),
          id: 'counters'
      });

      var profiles = counterCollectionView.collection;

      profiles.on("add", function(profile) {
      });

      profiles.on("change", function(profile) {
          counterCollectionView.render();
      });

      socket.on('data-update', function(data) {
          console.log(data);

          var profile = new Profile(data.profile);

          profiles.add(profile, { merge: true });

          counterCollectionView.render();

      });
    </script>

</head>
<body>
    <div id="container">

    </div>

    <script>
        jQuery("#container").append(counterCollectionView.render().el);
    </script>
</body>
</html>
